<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Perso-Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    </head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">Perso-Generator</h1>
                <svg width="86mm" height="120mm" viewBox="0mm 0mm 86mm 120mm">
                    <style>
                        @font-face {
                            font-family: ibm-plex-mono;
                            src: url({{ url_for('static', filename='fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2') }});
                        }

                        @font-face {
                            font-family: ibm-plex-mono-medium;
                            src: url({{ url_for('static', filename='fonts/IBM_Plex_Mono/IBMPlexMono-Medium.woff2') }});
                        }


                        @font-face {
                            font-family: source-sans-pro-bold;
                            src: url({{ url_for('static', filename='fonts/Source_Sans_Pro/SourceSansPro-Bold.woff2') }});
                        }

                        @font-face {
                            font-family: source-sans-pro-semibold;
                            src: url({{ url_for('static', filename='fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2') }});
                        }

                        @font-face {
                            font-family: ocr-b-std;
                            src: url({{ url_for('static', filename='fonts/OCR_B/OCRBStd.woff2') }});
                        }

                        text { dominant-baseline: hanging;}
                        .heading {font: bold 3.5mm source-sans-pro-bold;}
                        .sub-heading {font: bold 3mm source-sans-pro-semibold;}
                        .field-heading {font: bold 2.5mm source-sans-pro-semibold;}
                        .field {font: 4mm ibm-plex-mono;}
                        .id-number {
                            text-anchor: end;
                            font: bold 3.5mm ibm-plex-mono-medium;
                        }
                
                        .mr-text {
                            dominant-baseline: hanging;
                            text-anchor: middle;
                            font: 3.5mm ocr-b-std;
                        }
                
                        .mr-text tspan {
                            text-anchor: middle;
                        }
                
                        .card {
                            width: 86mm;
                            height: 54mm;
                            rx: 3.2mm;
                            ry: 3.2mm;
                            fill: rgb(156, 211, 152);
                        }
                    </style>
                    <defs>
                        <linearGradient id="rainbow" x1="0" y1="0" x2="1" y2="1">
                            <stop offset="0%" stop-color="rgb(229,0,0)"/>
                            <stop offset="14.67%" stop-color="rgb(229,0,0)"/>
                
                            <stop offset="18.67%" stop-color="rgb(255,141,0)"/>
                            <stop offset="31.34%" stop-color="rgb(255,141,0)"/>
                
                            <stop offset="35.34%" stop-color="rgb(255,238,0)"/>
                            <stop offset="48%" stop-color="rgb(255,238,0)"/>
                            
                            <stop offset="52%" stop-color="rgb(0,129,33)"/>
                            <stop offset="64.67%" stop-color="rgb(0,129,33)"/>
                            
                            <stop offset="68.67%" stop-color="rgb(0,76,255)"/>
                            <stop offset="81.34%" stop-color="rgb(0,76,255)"/>
                            
                            
                            <stop offset="85.34%" stop-color="rgb(118,1,136)"/>
                            <stop offset="100%" stop-color="rgb(118,1,136)"/>
                            
                        </linearGradient>
                    </defs>
                
                    <svg x="0mm" y="0mm">
                        <rect class="card"/>
                        <rect x="4mm" y="11mm" width="31mm" height="41mm" fill="url(#rainbow)"/>
                        <text x="4mm" y="2mm" class="heading">BANANENREPUBLIK DEUTSCHLAND</text>
                        <text x="4mm" y="6mm" class="sub-heading">PERSONALAUSWEIS</text>
                        
                
                        <!-- Value section -->
                        <!-- ID number -->
                        <text id="label-id-number" x="82mm" y="6mm" class="id-number">XXXXXXXXX</text>
                        <!-- Name -->
                        <text x="39mm" y="11mm" class="field-heading">Name</text>
                        <text id="label-last-name" x="39mm" y="14mm" class="field">XXXXXX</text>
                        <!-- First name-->
                        <text x="39mm" y="19mm" class="field-heading">Vorname</text>
                        <text id="label-first-name" x="39mm" y="22mm" class="field">XXXXXX</text>
                        <!-- Date of birth -->
                        <text x="39mm" y="27mm" class="field-heading">Geburtstag</text>
                        <text id="label-birth" x="39mm" y="30mm" class="field">XX.XX.XXXX</text>
                        <!-- Place of birth -->
                        <text x="39mm" y="35mm" class="field-heading">Geburtsort</text>
                        <text id="label-birth-place" x="39mm" y="38mm" class="field">XXXXXX</text>
                        <!-- Expiry date -->
                        <text x="39mm" y="43mm" class="field-heading">Gültig bis</text>
                        <text id="label-expiry" x="39mm" y="46mm" class="field">XX.XX.XXXX</text>
                    </svg>
                
                    <svg x="0mm" y="60mm">
                        <rect class="card"/>
                
                        <!-- Value section -->
                        <!-- Eye color -->
                        <text x="4mm" y="2mm" class="field-heading">Augenfarbe</text>
                        <text id="label-eye-color" x="4mm" y="4.5mm" class="field">XXXXX</text>
                        <!-- Height -->
                        <text x="4mm" y="9mm" class="field-heading">Größe</text>
                        <text id="label-height" x="4mm" y="11.5mm" class="field">XXX cm</text>
                        <!-- Issue date -->
                        <text x="4mm" y="16mm" class="field-heading">Datum</text>
                        <text id="label-issue-date" x="4mm" y="18.5mm" class="field">XX.XX.XX</text>
                        <!-- Authority -->
                        <text x="4mm" y="23mm" class="field-heading">Behörde</text>
                        <text id="label-authority" x="4mm" y="25.5mm" class="field">XXXXXXXX</text>
                
                        <rect y="31mm" width="100%" height="2mm" fill="rgb(220,220,220)"/>
                
                        <text class="mr-text" y="37mm">
                            <tspan id="label-mr1" x="43mm"></tspan><tspan id="label-mr2" x="43mm" dy="4mm"></tspan><tspan id="label-mr3" x="43mm" dy="4mm"></tspan>
                        </text>
                    </svg>
                </svg>
                <button class="button is-primary" onclick="refreshValues()">Refresh</button>

            </div>
        </section>
        


        <script>
            function refreshValues() {
                fetch('/values.json')
                .then(res => res.json())
                .then((values) => {
                    console.log(values);
                    for (var key in values) {
                        var label = document.getElementById(key);
                        label.textContent = values[key];
                    }
                });
            }
            refreshValues();
        </script>
    </body>
</html>